body{
            background-color: #f5f5f5;
        }
        .hex-row {
        clear: left;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .hex:before {
        content: " ";
        width: 0; height: 0;
        border-bottom: 40px solid #fff;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        position: absolute;
        top: -40px;
        }
        .hex {
        width: 140px;
        height: 80px;
        background-color: #fff;
        position: relative;
        float: left;
        margin-left: 18px;
        margin-bottom: 55px;
        transition: ease 0.3s;
        cursor: pointer;
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
        }
        .hex:after {
        content: "";
        width: 0;
        position: absolute;
        bottom: -40px;
        border-top: 40px solid #fff;
        border-left: 70px solid transparent;
        border-right: 70px solid transparent;
        }
        .hex:hover{
        transform: scale(1.2);
        }
        .hexImg {
        position: absolute;
        z-index: 5;
        top: 50%;
        width: 110px;
        left: 50%;
        transform: translate(-50%,-50%);
        }
        @media screen and (max-width: 882px) {
        .hex-row {
        flex-direction: column;
        }
        .hex {
        margin: 50px;
        }
        }
        .mt-5{
            margin-top: 5rem;
        }